body{
    background-image: url(./background.jpg);
    background-size: cover;
    height: 100%;
    width: 100vh;
    
}
.timer {
    width: 100%;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* justify-content: center; */
    font-size: 50px;
    margin-top: 170px;
    margin-left: 580px;
}

#display {
    color: cadetblue;
    /* background-color: cornflowerblue; */
    width: 460px;
    margin-left: 0px;
    font-size: 70px;
    margin-bottom: 30px;
}

button {
    font-weight: bold;
    color: lavender;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border-radius: 50px;
}
#start{
    background-color: green;
}
#stop{
    background-color: red;
}
#reset{
    color: grey;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: burlywood;
}
#flex{
    display: flex;

}

img{
    height: 50%;
    width: 30%;
    border-radius: 50px;
    margin-top: 0px;
}
#glass{
    /* align-items: end; */
    border-radius: 50px;
    border: 0cap;
    height: 250px;
    /* width: 100px; */
    margin-left: 250px;
    margin-top: 150px;
    /* display: flex;
    align-items: flex-end; */
    /* margin-right: 0px; */
    /* margin-bottom: 15px; */
    /* justify-content: flex-end ; */
}

footer{
    color: lavender;
    font-size: 25px;
    width: 100%;
    /* display: flex;
    align-items: end;
    justify-content: flex-end; */
    margin-top: 170px;
    margin-left: 600px;
    padding-top: 0px;
}